<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Favorite City</title>
  <link rel="stylesheet" href="stylesheet.css" type="text/css">
 </head>
 <body>
   <h1>Here is your city!</h1>
   <%= @city %> <!-- how I embed Ruby in my html page-->
 </body
</html>  