<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Contact Page</title>
  <link rel="stylesheet" href="stylesheet.css" type="text/css">
 </head>
 <body>
   <h1>Here is how to contact me!</h1>
   <ul>Contact Info
     <li>number</li>
     <li>email@email.com</li>
   </ul>
 </body>
</html>