<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Results</title>
  <link rel="stylesheet" href="stylesheet.css" type="text/css">
 </head>
 <body>
   <h1>Here are your transportation results!</h1>
   <%= @decision %> <!-- how I embed Ruby in my html page-->
 </body>
</html>  